.body{
    font-family: Lato, arial, sans-serif;
}
.carousel-inner{
    padding-top: 90px;
}
.tex{
    font-size: 60px;
}
.tex2{
    font-size: 30px;
}
.about{
    line-height: 36px;
}
.img{
    height: 350px;
}
.site{
    text-decoration: none;
    background-color: aqua;
    padding: 15px;
   
}